{% extends 'main/layout.html' %}

{% block title %}Вхід{% endblock %}



{% block content %}
    <div class="features">
        <h4>Вхід</h4>
        <form  method="post">
                {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{f}}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p4 class="text-center"><a href="{%url 'password_reset'%}">Оновити пароль</a></p4>
                     <!--  {{form.as_p}}
                        <span>{{error}}</span>-->
                <button class="btn btn-secondary" type="submit">Увійти</button>
        </form>
		
    </div>
{% endblock %}