{% extends 'main/layout.html' %}

{% block title %}Зареєструйтесь{% endblock %}



{% block content %}
    <div class="features">
        <h2>Реєстрація</h2>
        <form  method="post">
                {% csrf_token %}
     
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{f}}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
      
             <!--  {{form.as_p}}
                <span>{{error}}</span>-->
                <button class="btn btn-secondary" type="submit">Зареєструватися</button>
        </form>

    </div>
{% endblock %}