{% extends 'main/layout.html' %}

{% block title %}База спортсменів{% endblock %}



{% block content %}

    <div class="features">
        <h1>Результати пошуку</h1>
        <ul>
            {% for sp in object_list %}
                <div class="alert alert-secondary">
                    <h3>{{ sp.name}}</h3>
                    <p>{{ sp.city_region}}</p>
                    {% if request.user == sp.representative %}
                    <a href='{% url 'tradicdetail' sp.id %}' class='btn btn-secondary'>Докладніше</a>
                    {% else %}
                    Не має доступу
                    {% endif %}
                </div>
            {% endfor %}
        
          </ul>
    </div>
{%endblock%}