{% extends 'main/layout.html' %}

{% block title %}Додайте спортсмена{% endblock %}



{% block content %}
    <div class="features">
        <h1>База спортсменів</h1>
        <form  method="post">
            
                {% csrf_token %}
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{f}}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
             <!--  {{form.as_p}}
                <span>{{error}}</span>-->
                <button class="btn btn-secondary" type="submit">Додати</button>
             
        </form>
    </div>
    
{% endblock %}