
body {
     background: #d5d4d4a4
}



aside {
    float: right;
    background: #A9A9A9;
    width: 20%;
    padding: 1.5%;
    height: 150vh;
    color: rgb(54, 51, 51);
    border-left: 5px solid #1c1b1b
}

aside img {
    width: 100px;
    float: left;
}

aside .logo{
    font-size: 20px;
    margin-left: 10px;
    font-weight:bold;
    position: relative;
    top: 15px;

}
aside h3 {
    margin-top: 50px;
    font-size: 30px;
}

aside ul {
    list-style: none;
    text-decoration:none;
    margin-top: 60px;
}
aside ul li {
    color: #2d2d2f;
    display: block;
    font-size: 20px;
    text-decoration:none;
    margin-top: 20px;
    margin-left: -10px;
    transition: transform .10s ease;

}
aside ul a {
    color: #2d2d2f;
    display: block;
    text-decoration:none;
    margin-top: 20px;
    margin-left: 0px;
    transition: transform .10s ease;
}
aside ul li:hover, aside ul a:hover{
    color: #fafaf7f5;
    text-decoration:none;
    transform: scale(1.05);

}

main .features {
    float: left;
    color:rgb(55, 51, 51);
    margin-top: 100px;
    text-align: center;
    width:70%;
}

main .features h1 {margin-left: 220px; text-align: center; front-size: 200px;}
main .features p {display:block; text-align: left; max-width: 400px; padding-left: 180px; margin: 0px auto; margin-right: 0px}
main .features h2 {margin-left: 150px; text-align: center; front-size: 200px;}
main .features h3 {margin-left: 300px; text-align: center; front-size: 200px;}
main .features p1 {display:block; text-align: left; max-width: 400px; padding-left: 105px; margin: 0px auto;}
main .features h4 {margin-left: 100px; text-align: center; front-size: 200px;}
main .features h6 {margin-left: 180px; text-align: center; font-size: 25px;}
main .features p2 {display:block; text-align: left; max-width: 400px; padding-left: 150px; margin: 0px auto;}
main .features p3 {display:block; text-align: left; max-width: 400px; padding-left: 100px; margin: 0px auto; margin-right: 322px; font-size: 25px;}
main .features p4 {display:block; text-align: left; max-width: 400px; padding-left: 270px; margin: 0px auto; margin-right: 0px; font-size: 12px;}
main .features p6 {display:block; text-align: center; max-width: 400px; padding-left: 180px; margin: 0px auto; margin-top: 20px; margin-left: 385px; font-size: 20px;}

.alert-secondary {
    
    background: #bebebe;
    color:rgb(8, 8, 8);
    margin-top:20px;
    margin-left:370px;
    float: center;
    clear: both;
    width: 600px;
    margin: 10px 33%
    text-align: left;
    overflow: hidden;
    font-size: 14px;
    
	
   
}
.alert-secondary .btn-secondary{
    margin-left:400px;

}

.list-pages {
	text-align: center;
	margin: 0 0 20px 100px;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 20px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 0px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #3f3f3f;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

form {
    display: block;
    margin-left: 25%;
    width: 500px;
    margin-top: 10px;
}
.form-label {
    display: block;
    min-width: 150px;
    vertical-align: left;
    margin: 1px;
    font-weight:bold;
    font-size:14px;


}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}
.btn-secondary{ margin-left: 210px; margin-top: 5px;}
.btn-dark{ margin-top: 5px;}


input[type="text"] {
    border: 0.5px solid #191919;

    background: #ffffff !important;
    outline: none;
    height: 29px;
    width: 200px;
    color: #414040;
    font-size: 15px;
    font-family: Tahoma;
 }
 input[type="password"] {
    border: 0.5px solid #191919;

    background: #ffffff !important;
    outline: none;
    height: 29px;
    width: 200px;
    color: #414040;
    font-size: 15px;
    font-family: Tahoma;
 }

 input[type="email"] {
    border: 0.5px solid #191919;

    background: #ffffff !important;
    outline: none;
    height: 29px;
    width: 200px;
    color: #414040;
    font-size: 15px;
    font-family: Tahoma;
 }
 select {
    border: 0.5px solid #191919;

    background: #ffffff !important;
    outline: none;
    height: 29px;
    width: 200px;
    color: #414040;
    font-size: 15px;
    font-family: Tahoma;
 }

div.container {
    margin-left: 100px;
    height: 10em;
    position: relative;
   
 }

.form-buttons {
    
    margin-left: -14px;
 }
.text-center{
    color:brown;
    margin-left: 3000px;
 }

.form-error{
    margin-left:200px;
}
.c {
    margin-left:10px;
}
.last{
    list-style-type: none;
    margin-left:200px;
    font-size: 20px;
    font-family: Tahoma;
}

